@import "tailwindcss";
@import "@heroui/styles"; 

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  color: #0f172a;
}

.dark body {
  background: #020617;
  color: #f8fafc;
}
